<section id="about-us" class="pt-4">
    <div class="pt-3 pb-3">
        <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <p class="fs-3 fw-bold" style="font-family: 'Krona One', sans-serif;">About Shopy</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="/images/frontend/about us page image.webp" alt="" class="img-fluid rounded">
            </div>
        </div>
    </div>
    </div>
    <div class="pb-3 pt-3 bg-light">
        <div class="container">
        <p class="fw-bold fs-5" style="font-family: 'Playfair Display', serif;">Welcome to Shopy!</p>
                <p style="font-family: 'Libre Caslon Display', serif;" class="fw-bold">We are dedicated to providing the best shopping experience with high-quality 
                    products and excellent customer service. Our mission is to bring convenience and 
                    variety to your doorstep, all while maintaining trust and reliability.
                    At Shopy, we believe in innovation, customer satisfaction, 
                    and building long-term relationships. 
                    Thank you for choosing us as your trusted shopping destination!</p>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-8 col-lg-6">
                <div id="testimonial-container">
                    <img src="/images/frontend/Group 13.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-6">
                <div>
                    <p class="fs-3 fw-bold">Why Choose Us?</p>
                    <p>At Shopy we don’t just sell products—we 
                        create meaningful connections with our customers. 
                        Our goal is to make your shopping journey enjoyable, 
                        efficient, and trustworthy.</p>

                    <p>Thank you for choosing [Your Company Name]! We look forward to serving you.</p>
                </div>
            </div>
        </div>
    </div>
</section>

