@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&family=Krona+One&family=Lexend+Deca:wght@100..900&family=Libre+Caslon+Display&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --main-color:white;
    --secondary-color:#f4efef;
    --label-color:rgba(255,51,51,0.1);
    --label-content:rgb(255,51,51);
}
/* Home - Navbar */
.navbar-brand{
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4rem;
    font-weight: bold
}
/* Home - Landing Section */
#landing-section{
    background-color: var(--secondary-color);
}
.page-headings{
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2;
}
#landing-section .page-intro{
    font-family: 'Lexend Deca', sans-serif;
    font-size: .8rem;
    font-weight: 300;
}
#btn-landing-section{
    background-color: black;
    color: var(--main-color);
    display: inline-block;
    height: 50px;
    width: 197px;
    border-radius: 39px;
    font-weight: bold;
    padding-top: 10px;
}
#img-landing-section{
    width: 450px;
}
#progress-show .count{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    
}
#progress-show .info{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    margin-top: -15px;
}
#versase{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: uppercase;
}
#zara{
    font-family: 'Libre Caslon Display', sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    text-transform: uppercase;
}
#gucci{
    font-family: 'Krona One', sans-serif;
    font-weight: lighter;
    font-size: 2.4rem;
    text-transform: uppercase;
}
#prada{
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
}
#calvin-clein{
    font-family: 'Jura', sans-serif;
    font-weight: lighter;
    font-size: 2.4rem;
    text-transform: lowercase;
}

/* Signup page */

.content{
    background-color: var(--secondary-color);
    max-width: 400px;
}
.secondary-h{
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.intro{
    font-size: .9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
#signup-btn{
    background-color: black;
    color: var(--main-color);
    display: inline-block;
    font-weight: bold;
}

.card-img-container{
    background-color: var(--secondary-color);
    height: 300px;
}
.checked{
    color: orange;
}
#bg-secondary{
    background-color: var(--secondary-color);
}
.cat-style-col{
    height: 250px;
}
.product-style-label{
    top: 20px; 
    left: 20px;
}
/* .product-style-cover{
    top: -30px;
    right: -70px;
} */
 /* styles.css */
.custom-icon {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}
.review-description{
    font-size: .850rem;
}

.footer{
    background-color: var(--secondary-color);
}
.footer-texts, .shop-info{
    color: #7a7878;
}
footer a{
    font-size: .900rem;
    color: #7a7878;
}
footer .container{
    padding-top: 120px;
}

#product-details-image .pointer-img{
    max-width: 450px;
    height: 500px;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
    background-color: var(--secondary-color);
    box-shadow: 0 0 6px 1px rgba(149, 149, 149, 0.5);
}
#product-details-image .pointer-img img{
    /* width: 500px;
    height: 500px; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .2s;
}

#product-details-image .images{
    width: 450px;
    
}
#product-details-image .images .image{
    width:120px;
    height: 120px;
    background-color: var(--secondary-color);
    border: 1px solid rgba(133, 133, 133, 0.5);
}
#product-details-image .images .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.size-btn{
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.quantity-btn{
    background-color: var(--secondary-color);
    border-radius: 15px;
    border: none;
}
.quantity-btn button{
    width: 35px;
    height: 35px;
}
.quantity-btn input{
    width: 50px;
    border: none;
    background-color: var(--secondary-color);
}
.outline{
    outline: 2px solid blue;
}
.error-message{
    display: none;
    color: red;
    font-size: .850rem;
    margin-top: -10px;
    margin-bottom: 5px;
}
.bg-olive{
    background-color: var(--label-color);
    color:var(--label-content)
}
.active-size-btn{
    background-color: black;
    color: white;
}
#filter-form{
    max-width: 300px;
}
.discount-label{
    font-size: .8rem;
    min-width: 45px;
    height: 30px;
    border-radius: 12px;
}
#edit-profile-btn{
    border-radius: 20px;
    width: 120px;
}
#user-profile-icon{
    width: 80px;
    height: 80px;
}
#user-profile-icon i{
    font-size: 2rem
}
.cart-action-buttons{
    background-color: var(--secondary-color);
    border-radius: 15px;
}
.cart-action-buttons input{
    width: fit-content;
    text-align: center;
}
.cart-action-buttons button{
    height: 35px; 
    width: 35px;
}
#customer-carousel{
    padding-bottom: 120px;
}
#newsLetter{
    bottom: -180px;
}
#add-to-cart-button{
    border-radius: 15px;
}
#delivery-info-form button, input{
    border-radius: 15px;
}
#deliver-info-form input{
    background-color: var(--secondary-color);
}
.spinner-border{
    height: 25px;
    width: 25px;
    color: white;
}
#cart-products{
    border: 1px solid rgb(213, 211, 211);
    border-radius: 15px;
}
#cart-products .cart-product{
    border-bottom: 1px solid rgb(145, 144, 144);
}
.cart-img{
    background-color: var(--secondary-color);
    width: 120px;
    height: auto;
    max-height: 150px;
    border-radius: 15px;
}
#form-promoCode div{
    flex-grow: 1;
}
#form-promoCode div, input{
    background-color: var(--secondary-color);
    border-radius: 20px;
}
#form-promoCode button{
    border-radius: 20px;
    width: 100px;
    max-width: 100px;
}
#checkout-button{
    width: 100%;
    border-radius: 20px;
}
.cart-action .fa-trash{
    color: var(--label-content);
}
#order-placed-icon{
    background-color: var(--secondary-color);
    width: 3rem;
    height: 3rem;
}
#product-search{
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
}
#search-results{
    width: 100%;
}
#search-product-container{
    background: transparent;
}