<div class="min-vh-100 d-flex flex-column pb-0 pb-md-4">
    <div class="d-flex justify-content-start justify-content-sm-center">
        <a href="/" class="text-dark fs-5 fw-bold text-decoration-none">Shopsy</a>
    </div>
    <ul class="nav nav-pills d-flex flex-column list-unstyled gap-4 mt-4">
        <li class="nav-item">
            <a href="" class="nav-link text-light bg-dark active" aria-current="page"><i class="fa-solid fa-bars">
                    Dashboard</i></a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark"><i class="fa-solid fa-box"> Products</i></a>
        </li>
        <li class="nav-item">
            <a href="/admin/customers" class="nav-link text-dark"><i class="fa-solid fa-users"> Users</i></a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark"><i class="fa-solid fa-cart-shopping"> Orders</i></a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark"><i class="fa-solid fa-paper"> Sales Report</i></a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark"><i class="fa-solid fa-star"> Marketign Tools</i></a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark"><i class="fa-solid fa-box"> Returns</i></a>
        </li>
    </ul>
    <div id="profile" class="mt-auto ">
        <a href="/admin/logout">Logout</a>
    </div>
</div>